<div class="d-flex justify-content-center mb-3">
  <button class="btn btn-outline-primary mr-3" data-toggle="collapse" href="#filter">Filter</button>
  <button type="button" class="btn btn-danger" (click)="resetFilter()">Reset</button>
</div>

<!-- filter -->
<div class="collapse" id="filter">
  <div class="card card-body">
    <div class="row">
      <!-- if role admin -->
      <div class="col">
        <div class="form-group">
          <label>Employee</label>
          <select (change)="saveFilter()" class="custom-select" name="employeeId" [(ngModel)]="filter.employeeId"
            #employeeId="ngModel" [compareWith]="compareFnId">
            <option value="">(empty)</option>
            <option *ngFor="let emp of employeeList" [ngValue]='emp.id'>
              {{emp.personalInfo.firstName}} {{emp.personalInfo.lastName}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Project</label>
          <select (change)="saveFilter()" class="custom-select" name="projectId" [compareWith]="compareFnId"
            [(ngModel)]="filter.projectId" #projectId="ngModel">
            <option value="">(empty)</option>
            <option *ngFor="let pr of projectList" [ngValue]='pr.id'>{{pr.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label>Reporting between dates</label>
          <div class="row">
            <div *ngIf="list" class="col">
              <input (input)="saveFilter()" type="date" class="form-control" placeholder="(empty)" name="firstDate"
                [(ngModel)]="filter.firstDate" #firstDate="ngModel">
              <!-- min="{{list[0].reportDate}}" max="{{list[list.length-1].reportDate}}"   -->

            </div>
            <div *ngIf="list" class="col">
              <input (input)="saveFilter()" [disabled]="!filter.firstDate" type="date" class="form-control"
                placeholder="(empty)" name="lastDate" [(ngModel)]="filter.lastDate" #lastDate="ngModel">
              <!-- min="{{filter.firstDate}}" max="{{list[list.length-1].reportDate}}" -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Choose type of report</label><br>
          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-outline-primary mb-3 " (click)="filter.reportType=''"
              [ngClass]="{'active':filter.reportType==''}" (click)="saveFilter()">ALL</button>
            <button class="btn btn-outline-primary mb-3 " (click)="filter.reportType='WORK'"
              [ngClass]="{'active':filter.reportType=='WORK'}" (click)="saveFilter()">WORK</button>
            <button class="btn btn-outline-primary mb-3 " (click)="filter.reportType='VACATION'"
              [ngClass]="{'active':filter.reportType=='VACATION'}" (click)="saveFilter()">VACATION</button>
            <button class="btn btn-outline-primary mb-3 " (click)="filter.reportType='SICK_LEAVE'"
              [ngClass]="{'active':filter.reportType=='SICK_LEAVE'}" (click)="saveFilter()">SICK_LEAVE</button>
          </div>
        </div>
      </div>

      <div class="col">
        <label>Task</label>
        <input type="text" class="form-control" placeholder="(empty)" name="task" [(ngModel)]="filter.task"
          #task="ngModel" (input)="saveFilter()">
      </div>
      <div class="col">
        <label>Description task</label>
        <input type="text" class="form-control" placeholder="(empty)" name="descriptionTask"
          [(ngModel)]="filter.descriptionTask" #descriptionTask="ngModel" (input)="saveFilter()">
      </div>
      <div class="col-2">
        <label>Hours for task</label>
        <input type="number" min=0 class="form-control" placeholder="(empty)" name="hoursForTask"
          [(ngModel)]="filter.hoursForTask" #hoursForTask="ngModel" (input)="saveFilter()">
      </div>      
    </div>
  </div>
</div>

<!-- show for -->
<div class=" d-flex justify-content-start">
  <div>
    <div class="input-group mt-5">
      <div class="input-group-prepend">
        <span class="input-group-text">Show for:</span>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary" (click)="filter.showFor='today'"
          [ngClass]="{'active':filter.showFor=='today'}" (click)="saveFilter()" (click)="setCurrentMonth()">Today</button>
        <button type="button" class="btn btn-outline-primary" (click)="filter.showFor='month'"
          [ngClass]="{'active':filter.showFor=='month'}" (click)="saveFilter()">Month</button>
        <!-- <button type="button" class="btn btn-outline-primary">Right</button> -->
      </div>
    </div>
  </div>
  <div *ngIf="filter.showFor=='month'" class="ml-2 d-flex align-items-end">
    <select (change)="saveFilter()" class="custom-select" name="employeeId" [(ngModel)]="filter.month"
      #employeeId="ngModel" style="width: 200px" (change)=checkEditReportForMonth()>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  </div>
</div>

<!-- statistics -->
<table class="table mt-5 table-sm table-bordered">
  <thead class="thead-dark">
    <tr class="">
      <th scope="col">Employee</th>
      <th scope="col">Days on sick leave</th>
      <th scope="col">Days on vacation</th>
      <th scope="col">Paid hours</th>
      <th scope="col">Worked hours</th>
      <th scope="col">Working hours in month</th>
    </tr>
  </thead>
  <tbody>
    <tr class="">
      <td>{{statistics.employee}}</td>
      <td>{{statistics.daysOnSickLeave}}</td>
      <td>{{statistics.daysOnVacation}}</td>
      <td>{{statistics.paidHours}}</td>
      <td>{{statistics.workedHours}}</td>
      <td>{{statistics.workingHoursInMonth}}</td>
    </tr>
  </tbody>
</table>

<button type="button" (click)="clearAddForm()" class="btn btn-primary mt-3" data-toggle="modal" data-target="#addEdit">
  Add executed task to report
</button>

<ng-template #emptyList>
  <div class="mt-5 d-flex justify-content-center display-4">
    Empty list
  </div>
</ng-template>

<table *ngIf="list[0]; else emptyList" id="table" class="table mt-2 table-sm table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col" >Type</th>
      <th scope="col" >Date</th>
      <th scope="col" >Project name</th>      
      <th scope="col">Task</th>
      <th scope="col" >Description task</th>
      <th scope="col" >Hours for task</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let report of list" [ngClass]="{'table-warning':report.reportType=='WORK',
    'table-success':report.reportType=='VACATION',
    'table-danger':report.reportType=='SICK_LEAVE'}">
      <td>{{report.reportType}}</td>
      <td>{{report.reportDate}}</td>
      <td *ngIf="report.project!=null">{{report.project.name}}</td>
      <td *ngIf="report.project==null">(empty)</td>
      <td *ngIf="report.task!=null">{{report.task}}</td>
      <td *ngIf="report.task==null">(empty)</td>
      <td *ngIf="report.descriptionTask!=null">{{report.descriptionTask}}</td>
      <td *ngIf="report.descriptionTask==null">(empty)</td>
      <td *ngIf="report.hoursForTask!=null">{{report.hoursForTask}}</td>
      <td *ngIf="report.hoursForTask==null">(empty)</td>
      <td style="width: 50px">
        <button type="button" (click)="getCurrentReport(report)" class="btn btn-sm btn-primary" data-toggle="modal"
          data-target="#addEdit" [disabled]="!editable">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="addEdit" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add task to my report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <label>Type report</label>
                <select class="custom-select" name="reportType" [(ngModel)]="reportBody.reportType"
                  #reportType="ngModel" required [compareWith]="compareFn"
                  [ngClass]="{'is-valid':reportType.valid && reportType.touched,'is-invalid':reportType.invalid && reportType.touched}">
                  <option value="VACATION">VACATION</option>
                  <option value="WORK">WORK</option>
                  <option value="SICK_LEAVE">SICK_LEAVE</option>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Date report</label>
                <input type="date" class="form-control" name="reportDate" [(ngModel)]="reportBody.reportDate"
                  #name="ngModel" required [disabled]="reportBody.reportType==null" >
                <!-- [ngClass]="{'is-valid':reportDate.valid && reportDate.touched,'is-invalid':reportDate.invalid && reportDate.touched}" -->
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Project</label>
                <select
                  [disabled]="reportBody.reportType==null || reportBody.reportType=='SICK_LEAVE' || reportBody.reportType=='VACATION'"
                  required class="custom-select" name="project" [(ngModel)]="reportBody.project" #project="ngModel"
                  [ngClass]="{'is-valid':project.valid && project.touched,'is-invalid':project.invalid && project.touched}"
                  [compareWith]="compareFnId">
                  <option *ngFor="let project of projectList" [ngValue]="project">{{project.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Task</label>
                <input
                  [disabled]="reportBody.reportType==null || reportBody.reportType=='SICK_LEAVE' || reportBody.reportType=='VACATION'"
                  required type="text" class="form-control" name="task" [(ngModel)]="reportBody.task" #task="ngModel"
                  [ngClass]="{'is-valid':task.valid && task.touched,'is-invalid':task.invalid && task.touched}">
              </div>

            </div>
            <div class="col-2">
              <div class="form-group">
                <label>Hours for task</label>
                <input required type="number" min=0 class="form-control" name="hoursForTask"
                  [disabled]="reportBody.reportType==null || reportBody.reportType=='SICK_LEAVE' || reportBody.reportType=='VACATION'"
                  [(ngModel)]="reportBody.hoursForTask" #hoursForTask="ngModel"
                  [ngClass]="{'is-valid':hoursForTask.valid && hoursForTask.touched,'is-invalid':hoursForTask.invalid && hoursForTask.touched}">
              </div>
            </div>
          </div>




          <div class="form-group">
            <label>Description task</label>
            <input type="text" class="form-control" name="descriptionTask"
              [disabled]="reportBody.reportType==null || reportBody.reportType=='SICK_LEAVE' || reportBody.reportType=='VACATION'"
              [(ngModel)]="reportBody.descriptionTask" #descriptionTask="ngModel"
              [ngClass]="{'is-valid':descriptionTask.valid && descriptionTask.touched,'is-invalid':descriptionTask.invalid && descriptionTask.touched}">
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal"
          (click)="initReportList()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addEdit(f)"
          [disabled]="f.form.invalid">Save changes</button>
      </div>
    </div>
  </div>
</div>