<div>
  <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addModal">Assign to project </button>
</div>

<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col" class="sortable" sortable="id" (sort)="onSort($event)">Id
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='id', 'caret-up':order=='asc' && column=='id'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="project.name" (sort)="onSort($event)">Project
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='project.name', 'caret-up':order=='asc' && column=='project.name'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="projectPositionEmployee.employeeId" (sort)="onSort($event)">EmployeeId
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='projectPositionEmployee.employeeId', 'caret-up':order=='asc' && column=='projectPositionEmployee.employeeId'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="projectPositionEmployee.position" (sort)="onSort($event)">Position
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='projectPositionEmployee.position', 'caret-up':order=='asc' && column=='projectPositionEmployee.position'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="projectPositionEmployee.rate" (sort)="onSort($event)">Rate
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='projectPositionEmployee.rate', 'caret-up':order=='asc' && column=='projectPositionEmployee.rate'}">
        </span>
      </th>       
      <th scope="col" class="sortable" sortable="plannedStartDate" (sort)="onSort($event)">Planned period
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='plannedStartDate', 'caret-up':order=='asc' && column=='plannedStartDate'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="startDate" (sort)="onSort($event)">Actual period
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='startDate', 'caret-up':order=='asc' && column=='startDate'}">
        </span>
      </th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let projectPosition of list">
      <th>{{projectPosition.id}}</th>
      <td>{{projectPosition.project.name}}</td>
      <td>{{projectPosition.projectPositionEmployee.employeeId}}
          <div *ngIf="!projectPosition.project.startDate">
              <h6 >
                  <span class="badge badge-warning">Project not running</span></h6>
          </div>
          <div class="" *ngIf="projectPosition.project.startDate">
              
                <h6 *ngIf="projectPosition.endDate && projectPosition.startDate">
                  <span class="badge badge-danger">Finished</span></h6>
                <h6 *ngIf="!projectPosition.endDate && !projectPosition.startDate">
                  <span class="badge badge-info">Not started</span></h6>
                <h6 *ngIf="!projectPosition.endDate && projectPosition.startDate">
                  <span class="badge badge-success">Working</span></h6>
            </div>
      </td>
      <td>{{projectPosition.projectPositionEmployee.position}}</td>
      <td>{{projectPosition.projectPositionEmployee.rate}}</td>
      <td>{{projectPosition.plannedStartDate}} -- {{projectPosition.plannedEndDate}}</td>
      <td *ngIf="!projectPosition.endDate && projectPosition.startDate">{{projectPosition.startDate}} -- (now)</td>
      <td *ngIf="projectPosition.endDate || !projectPosition.startDate && !projectPosition.endDate">
        {{projectPosition.startDate}} -- {{projectPosition.endDate}}</td>
      
      <td *ngIf="projectPosition.project.startDate">
        <button *ngIf="!projectPosition.startDate && !projectPosition.endDate" class="btn btn-outline-primary"
          (click)="startProjectPosition(projectPosition.id)">Start</button>
        <button *ngIf="projectPosition.startDate && !projectPosition.endDate" class="btn btn-outline-danger"
          (click)="endProjectPosition(projectPosition.id)">Finish</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- pagination -->
<ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="length" [(page)]="page" [pageSize]="size"
    [maxSize]="10" [rotate]="true" [boundaryLinks]="true">
  </ngb-pagination>

<!-- assign to project modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Assign to project</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="f.resetForm()" aria-label="Close" #close_add>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="form-group">
            <div class="row">
              <div class="col ">
                <label>Choose project</label>                
                <input id="typeahead-config" type="text" class="form-control" [(ngModel)]="projectPosition.project"
                [inputFormatter]="formatterProject" [resultFormatter]="formatterProject" [ngbTypeahead]="searchProject"
                name="project" #project="ngModel" required placeholder="Enter project name"
                [ngClass]="{'is-valid':project.valid && project.touched,'is-invalid':project.invalid && project.touched}"/>    
              </div>
              <h6 class="d-flex align-items-end">OR</h6>
              <div class="col-4 d-flex align-content-end flex-wrap">
                <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/project-list"
                  data-toggle="modal" data-target="#addModal">Create project</button>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label>Choose employee</label>
            <input required id="typeahead-config" type="text" class="form-control" [(ngModel)]="projectPositionEmployee.employeeId"
                [inputFormatter]="formatterEmployee" [resultFormatter]="formatterEmployee" [ngbTypeahead]="searchEmployee"
                name="employeeId" #employeeId="ngModel" placeholder="Enter employee first or last name"
                [ngClass]="{'is-valid':employeeId.valid && employeeId.touched,'is-invalid':employeeId.invalid && employeeId.touched}"/>    
          </div>


          <div class="form-group">
            <input required type="text" class="form-control" placeholder="Position" name="position"
              [(ngModel)]="projectPositionEmployee.position" #position="ngModel"
              [ngClass]="{'is-valid':position.valid && position.touched,'is-invalid':position.invalid && position.touched}">
          </div>
          <div class="form-group">
            <input required type="text" class="form-control" placeholder="Rate" name="rate"
              [(ngModel)]="projectPositionEmployee.rate" #rate="ngModel"
              [ngClass]="{'is-valid':rate.valid && rate.touched,'is-invalid':rate.invalid && rate.touched}">
          </div>

          <div class="form-group">
            <label>Planned period for project work</label>
            <div class="row">
              <div class="col">
                <input required type="date" class="form-control" placeholder="Planned start date"
                  name="plannedStartDate" [(ngModel)]="projectPosition.plannedStartDate" #plannedStartDate="ngModel"
                  [ngClass]="{'is-valid':plannedStartDate.valid && plannedStartDate.touched,'is-invalid':plannedStartDate.invalid && plannedStartDate.touched}">
              </div>
              <div class="col">
                <input required type="date" class="form-control" placeholder="Planned end date" name="plannedEndDate"
                  [(ngModel)]="projectPosition.plannedEndDate" #plannedEndDate="ngModel"
                  [ngClass]="{'is-valid':plannedEndDate.valid && plannedEndDate.touched,'is-invalid':plannedEndDate.invalid && plannedEndDate.touched}"
                  min="{{projectPosition.plannedStartDate}}" [disabled]="!projectPosition.plannedStartDate">
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="f.resetForm()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="f.form.invalid"
          (click)="createProjectPosition(f)">Create</button>
      </div>
    </div>
  </div>
</div>